* {
    margin: 10px;
}

nav {
    background-color: cornflowerblue;
    text-align:center;
    color: white;  
    height: 48px;
}

.anav {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(36, 69, 181);
}

h2 {
    color: rgb(36, 69, 181);
}

.aimg {
    display: inline-block;
}

p {
    text-align: justify;
}

a {
    color: rgb(36, 69, 181);
    margin: 0;
}

a:hover {
    text-decoration: underline;
    font-size: 20px;
}

li {
    text-align: justify;
}

h3 {
    color: rgb(36, 69, 181);
}