* {
    margin: 10px;
}

h1 {
    text-align: center;
    color: rgb(36, 69, 181);
}

h2 {
    color: rgb(36, 69, 181);
}

.aimg {
    display: inline-block;
}

p {
    text-align: justify;
}

a {
    color: rgb(36, 69, 181);
    margin: 0;
}

li {
    text-align: justify;
}

h3 {
    color: rgb(36, 69, 181);
}